body{
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica neue, Helvetica, Arial, sans-serif;
}

h1{
    color: rgb(0, 183, 255);
}
h2{
    color:rgb(93, 93, 93);
    opacity: 0.5;
}
button{
    background-color: gray;
    border: none;
    color: white;
}
